* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.main {
    background-color: #f2f2f2;
    ;
}

h1 {
    margin: 0px;
    margin-bottom: 25px;
    font-size: 42px;
}

h2 {
    margin: none;
    font-size: 24px;
}

.wrap {
    max-width: 1230px;
    padding: 0px 30px;
    margin: 0 auto;
    width: 100%;
}
.left-side {
        max-width: 68.4%;        
}
.right-side {
    max-width: 31.6%;
    padding-left: 30px;
    row-gap: 30px;
}
.hero{
    display: flex;
    align-items: first baseline;
}

.foto-grazuolis{
    width: 70px;
    height: 70px;
}



.cards a {
    text-decoration: none;
    display: block;
    min-height: 100%;
    background-color: white;
}

.card-info {
    color: black;
    justify-content: flex-start;
    padding: 38px;
    line-height: 1;


}


.card-info h2 {
    font-size: 24px;
    margin: 0px;
    margin: 13px 0px;
}

.mini-title {
    color: blue;
    font-size: 12px;

}

.cards {
    width: 100%;
    display: flex;


}

.info-foto {
    width: 100%;
}

.CA-talents-foto {
    width: 100%;
}

.chatgpt {
    width: 50%;
    padding: 0px 15px 0px 0px;
    margin-bottom: 30px;
}

.ca-talents {
    width: 50%;
    padding-left: 15px;
    margin-bottom: 30px;
}

.date {
    font-size: 13px;
}

.mini-foto {
    width: 120px;
    height: 79.8px;

    margin: 0px;

}
.title{
    font-size: 42px;
    margin-top: 35px;
    margin-bottom: 25px;
}


.bottom-side {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px
    ;
}

.bottom-side h2 {
    margin: 12px 0px 12px 0px;
    font-size: 14px;
}

.dezinformacija {
    width: 50%;
}

.dezinformacija a {
    padding-right: 15px;
    text-decoration: none;
    display: flex;
}

.dezinformacija .post-card-info {
    margin-left: 20px;
    width: 50%;
}


.codeacademy {
    width: 50%;
}

.codeacademy a {
    display: flex;
    padding-left: 15px;
    text-decoration: none;
}
.codeacademy .post-card-info{
    margin-left: 20px;

}
.technologijos{
    width: 50%;
   
}
.technologijos a{
    text-decoration: none;
    display: flex;
    padding-right: 15px;

}
.technologijos .post-card-main{
    width: 50%;
    
}
.technologijos .post-card-info{
    margin-left: 20px;
}


.technologiju-budu{
    width: 50%;
    padding-left: 15px;

}
.technologiju-budu a{
    text-decoration: none;
    display: flex;
}
.technologiju-budu .post-card-text{
    margin-left: 20px;
}


.button {
    background-color: white;
    max-width: 1230px;
    border-radius: 6px;
    padding: 33px 60px 33px 40px;
    font-size: 24px;
    margin-top: 35px;
}
.button a{
    text-decoration: none;
}

.video{
    width: 100%;
}

.vaizdo-irasas p{
    font-size: 24px;
}

.audio-container{
    background-color: black;
    height: 70px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.play {
    background-color: white;
    width: 70px;
    height: 70px;
}
.trukme h2 {
    margin: 25px 0px;
    font-size: 14px;
    color: #b7b7b7;
}
.turinys {
    background-color: white;
    padding: 17px 20px ;
    font-size: 14px;
}
.turinys h2{
    font-size: 14px;
}

.titlee{
    margin-top: 20px;
    font-size: 42px;
}

.renginiai-foto{
    width: 100%;
    display: block;
}
.renginiai-info{
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 30px;
}
.renginiai-info p{
    font-size: 10px;
}
.zzz{
    color: #a62929;
}